

// colors


// mixins
@mixin normalScrollbar {
  &::-webkit-scrollbar {
    background: #fff;
    width: 0.4rem;
  }

  &:hover::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff;
  }

  &:hover::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px #6f7180;
    border-radius: 0.2rem;
  }
}